  <!--------------------- STUUD FINANCES --------------------->
<div class="finances">
  <!--------------------- CONTAINER LEFT --------------------->

  <div class="container-left">

<!--     <div class="btn-container">
      <button class="btn-download"><%= link_to "Download Reports", finance_summary_path(format: :pdf), target: :_blank %></button>
    </div> -->

    <div class="section-header">
      <h1> My Finances </h1>
      <%= link_to "Download Report", finance_summary_path(format: :pdf), target: :_blank, class: "link"  %>
    </div>
    <hr/>
    <div class="graph-buttons">
      <div>
        <a href="?my_finances=week" class="btn-graph">Week</a>
      </div>
      <div>
        <a href="?my_finances=month" class="btn-graph">Month</a>
      </div>
      <div>
        <a href="?my_finances=year" class="btn-graph">Year</a>
      </div>
    </div>
    <div class="graph-container">
      <% if params[:my_finances] == "week" %>
        <div class=" graph graph-weekly">
        <%= column_chart [{ name: "Income weekly", data: @events_yearly.group_by_week(:start_time).sum(:price) },{ name: "Expenses weekly", data: @expenses_yearly.group_by_week(:date).sum(:amount)}],
            suffix: "$",
            width: "100%",
            height: "100%",
            title: "Weekly Income vs. Expenses ( #{DateTime.now.day}-#{DateTime.now.month}-#{DateTime.now.year} ) ",
            legend: true,
            colors: ["#FB6C00", "#424D58"],
            library: { chart: {
              style: {
                fontFamily: "'Montserrat', sans-serif"
                }
                }
              } %>
        </div>
      <% elsif params[:my_finances] == "month" %>
         <div class="graph graph-monthly">
         <%= column_chart [{ name: "Income monthly", data: @events_yearly.group_by_month(:start_time).sum(:price) },{ name: "Expenses monthly", data: @expenses_yearly.group_by_month(:date).sum(:amount)}],
            suffix: "$",
            width: "100%",
            height: "100%",
            title: "Monthly Income vs. Expenses ( #{DateTime.now.month}-#{DateTime.now.year} ) ",
            # legend: true,
            colors: ["#FB6C00", "#424D58"],
            library: { chart: {
              style: {
                fontFamily: "'Montserrat', sans-serif"
                }
                }
              } %>
         </div>
      <% else %>
        <div class="graph graph-yearly">
           <%= column_chart [{ name: "Income year", data: @events_yearly.group_by_year(:start_time).sum(:price) },{ name: "Expenses year", data: @expenses_yearly.group_by_year(:date).sum(:amount)}],
            suffix: "$",
            width: "100%",
            height: "100%",
            title: "Expected Income vs. Expenses ( #{DateTime.now.year} ) ",
            # legend: true,
            colors: ["#FB6C00", "#424D58"],
            library: { chart: {
              style: {
                fontFamily: "'Montserrat', sans-serif"
                }
                }
              } %>
         </div>
      <% end %>
    </div>
    <div class="data-graph">
      <div class="card-data income">
        <h3>Income</h3>
        <% if @income == nil %>
          <p>$0</p>
        <% else %>
          <p>$<%= @income %></p>
        <% end %>
      </div>
      <div class="bold mt-2"><p>-</p></div>
      <div class="card-data expenses">
        <h3>Expenses</h3>
        <p>$<%= @total_expenses %></p>
      </div>
      <div class="bold mt-2"><p>=</p></div>
      <div class="card-data total">
        <h3>Profit</h3>
        <% if @profit == nil %>
          <p>$0</p>
        <% else %>
          <p>$<%= @profit %></p>
        <% end %>
      </div>
    </div>

  <div class="section-expenses">
    <div class="section-header">
      <h1> Expenses </h1>
      <%= link_to "See all", expenses_path, class: "link"  %>
    </div>
    <hr/>

    <div id="add-expense" class="highlight">
      <div>
        <%= link_to "Add an expense", new_expense_path, class: "ml-3 p-3 text-align-center link"  %>
      </div>
        <%= link_to new_expense_path do %>
      <div>
        <%= image_tag 'noun_add_8394.png', width: 60, height: 60, alt: 'add an appointment'%>
      </div>
        <% end %>
    </div>
  </div>
  </div>

  <!--------------------- CONTAINER RIGHT --------------------->

  <div class="container-right">
    <div class="section-header">
      <h1>Invoices</h1>
      <%= link_to "See all", invoices_path, class: "link"  %>

    </div>
    <hr/>



    <div class="invoices">

      <% if @overdue == [] %>
        <div></div>
      <% else %>
      <div class="divider">
        <h2 class="divider">Overdue</h2>
      </div>

    <% @overdue.each do |invoice| %>
      <!------------------ OVERDUE INVOICES ------------------>
            <div class="card-invoice">
              <div class="client-name">
                <% if invoice.client.last_name.length > 10 %>
                  <%= content_tag :p, invoice.client.first_name + " " + invoice.client.last_name[0] + ".", class: "client-name" %>
                <% else %>
                  <%= content_tag :p, invoice.client.first_name + " " + invoice.client.last_name, class: "client-name" %>
                <% end %>
              </div>
              <div id="invoice-info">
                <p>Invoice #<%= invoice.id %></p>
                <p>$<%= invoice.event.price %></p>
                <p class="bold">OVERDUE </p>
              </div>
              <div class="invoice-status-indicator" data-toggle="modal" data-target="#invoice-id-<%=invoice.id%>">
                <%= image_tag "noun_Close_23269(1).png", alt: "overdue icon"%>
              </div>

            <!-- Invoice Status Modal -->
            <div class="modal fade" id="invoice-id-<%=invoice.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Invoice Status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="update-status">
                      <%=simple_form_for(invoice, method: :patch, url: paid_path(invoice.event)) do |f|%>
                        <%= f.input :payment_status, as: :hidden, input_html: {value: true} %>
                        <%= f.submit "Mark as Paid" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% end %>

        <% if @pending == [] && @overdue != [] %>
          <div></div>
        <% else %>

        <div class="divider">
          <h2 class="divider">Pending</h2>
        </div>
        <% end %>

        <% if @pending == [] && @overdue == [] && @invoices != [] %>
          <div class="highlight">
            <p class="">All invoices have been paid 🎉</p>
          </div>
          <% elsif @pending == []  %>
          <div class="highlight">
            <p class="">No pending invoices</p>
          </div>
        <% else %>

          <% @pending.each do |invoice| %>
          <!------------------ PENDING INVOICES ------------------>

              <div class="card-invoice">
                <div class="client-name">
                  <% if invoice.client.last_name.length > 10 %>
                    <%= link_to invoice.client.first_name + " " + invoice.client.last_name[0] + ".", client_path(invoice.client), class: "client-name" %>
                  <% else %>
                    <%= link_to invoice.client.first_name + " " + invoice.client.last_name, client_path(invoice.client), class: "client-name" %>
                  <% end %>
                </div>
                <div id="invoice-info">
                  <p>Invoice #<%= invoice.id %></p>
                  <p>$<%= invoice.event.price %></p>
                  <p class="bold"><%= invoice.created_at.localtime.strftime("%b %d") %></p>
                </div>
                <div class="invoice-status-indicator" data-toggle="modal" data-target="#invoice-id-<%=invoice.id%>">
                  <%= image_tag "noun_clock_23236.png", alt: "pending icon"%>
                </div>

              <!-- Invoice Status Modal -->
              <div class="modal fade" id="invoice-id-<%=invoice.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Update Invoice Status</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="update-status">
                        <%=simple_form_for(invoice, method: :patch, url: paid_path(invoice.event)) do |f|%>
                          <%= f.input :payment_status, as: :hidden, input_html: {value: true} %>
                          <%= f.submit "Mark as Paid" %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            <% end %>
            <% end %>

        <div class="divider">
          <h2 class="divider">Paid</h2>
        </div>

          <% @paid.each do |invoice| %>
        <!------------------ PAID INVOICES ------------------>
            <div class="card-invoice">
              <div class="client-name">
                <% if invoice.client.last_name.length > 10 %>
                  <%= link_to invoice.client.first_name + " " + invoice.client.last_name[0] + ".", client_path(invoice.client), class: "client-name" %>
                <% else %>
                  <%= link_to invoice.client.first_name + " " + invoice.client.last_name, client_path(invoice.client), class: "client-name" %>
                <% end %>
              </div>
              <div id="invoice-info">
                <p>Invoice #<%= invoice.id %></p>
                <p>$<%= invoice.event.price %></p>
                <p class="bold">PAID </p>
              </div>
              <div class="invoice-status-indicator">
                <%= image_tag "noun_Check Mark_23235.png", alt: "paid icon"%>
              </div>
            </div>
          <% end %>
  </div>
</div>
