<!-- STUUD Finances -->
<div class="finances">
  <div class="container-left">
    <h1>My Finances</h1>
    <hr/>

    <h2>Weekly report</h2>
    <h3>Expenses: <%= @total_expenses_weekly %>$</h3>
    <h3>Income: <%= @income_weakly %>$</h3>

    <h2>Monthly report</h2>
    <h3>Expenses: <%= @total_expenses_monthly %>$</h3>
    <h3>Income: <%= @income_monthly %>$</h3>

    <h2>Yearly report</h2>
    <h3>Expenses: <%= @total_expenses_yearly %>$</h3>
    <h3>Income: <%= @income_yearly %>$</h3>

  </div>

  <div class="container-right">

  <h1>Invoices</h1>
    <hr/>
    <div class="invoices">

  <!------------------ OVERDUE INVOICES ------------------>

  <div class="overdue">
      <div class="divider">
        <h2 class="divider">Overdue</h2>
      </div>
    <div class="invoices">
      <% @overdue_invoices.each do |invoice| %>
        <div class="card-invoice">
          <%= link_to invoice.client.first_name + " " + invoice.client.last_name, client_path(invoice.client), class: "client-name" %>
          <div id="invoice-info">
            <p>Invoice #<%= invoice.id %></p>
            <p>$<%= invoice.price %></p>
            <p class="bold"><%= invoice.start_time.strftime("%A, %b %d") %></p>
          </div>
          <div class="invoice-status-indicator">
            <p>hello</p>
     <!--        <%= image_tag "noun_Close_23269(1).png", alt: "overdue icon"%> -->
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <!------------------ PENDING INVOICES ------------------>

  <div class="pending">
      <div class="divider">
        <h2 class="divider">Pending</h2>
      </div>
    <div class="invoices">
      <% @pending_invoices.each do |invoice| %>
        <div class="card-invoice">
          <%= link_to invoice.client.first_name + " " + invoice.client.last_name, client_path(invoice.client), class: "client-name" %>
          <div id="invoice-info">
            <p>Invoice #<%= invoice.id %></p>
            <p>$<%= invoice.price %></p>
            <p class="bold"><%= invoice.start_time.strftime("%A, %b %d") %></p>
          </div>
            <% if invoice.client.color == "Red" %>
              <div class="color-indicator-red"></div>
            <% elsif invoice.client.color == "Yellow" %>
              <div class="color-indicator-yellow"></div>
            <% elsif invoice.client.color == "Blue" %>
              <div class="color-indicator-blue"></div>
            <% else %>
              <div></div>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <!------------------ PAID INVOICES ------------------>

  <div class="paid">
      <div class="divider">
        <h2 class="divider">Paid</h2>
      </div>
    <div class="invoices">
      <% @paid_invoices.each do |invoice| %>
        <div class="card-invoice">
          <%= link_to invoice.client.first_name + " " + invoice.client.last_name, client_path(invoice.client), class: "client-name" %>
          <div id="invoice-info">
            <p>Invoice #<%= invoice.id %></p>
            <p>$<%= invoice.price %></p>
            <p class="bold"><%= invoice.start_time.strftime("%A, %b %d") %></p>
          </div>
            <% if invoice.client.color == "Red" %>
              <div class="color-indicator-red"></div>
            <% elsif invoice.client.color == "Yellow" %>
              <div class="color-indicator-yellow"></div>
            <% elsif invoice.client.color == "Blue" %>
              <div class="color-indicator-blue"></div>
            <% else %>
              <div></div>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>


