<!-- STUUD Dashboard -->
<div class="dashboard">


  <div class="container-left">
    <h1>Upcoming Appointments </h1>
    <hr/>
    <div class="divider">
      <h2 class="divider">Today</h2>
    </div>
    <div class="today">
      <% @todays_bookings.each do |booking| %>
        <div class="card-dashboard">
          <p class="client-name"><%= booking.client.first_name %> <%= booking.client.last_name %></p>
          <p class="event-date"><%= booking.start_time.strftime("%b %e, %l:%M %p") %></p>
          <%= image_tag "noun_Vertical Dots_3560972 (1).svg", alt: "alttext" %>
            <% if booking.client.color == "Red" %>
              <div class="color-indicator-red"></div>
            <% elsif booking.client.color == "Yellow" %>
              <div class="color-indicator-yellow"></div>
            <% elsif booking.client.color == "Blue" %>
              <div class="color-indicator-blue"></div>
            <% else %>
              <div></div>
            <% end %>
        </div>
      <% end %>
    </div>
<!------------------ UPCOMING APPOINTMENTS ------------------>
    <div class="future">

    <div class="divider">
      <h2 class="divider">Future</h2>
    </div>
      <% @future_bookings.each do |booking| %>
      <div class="card-dashboard">
        <p class="client-name"><%= booking.client.first_name %> <%= booking.client.last_name %></p>
        <p class="event-date"><%= booking.start_time.strftime("%b %e, %l:%M %p") %></p>
        <%= image_tag "noun_Vertical Dots_3560972 (1).svg", alt: "alttext" %>
          <% if booking.client.color == "Red" %>
            <div class="color-indicator-red"></div>
          <% elsif booking.client.color == "Yellow" %>
            <div class="color-indicator-yellow"></div>
          <% elsif booking.client.color == "Blue" %>
            <div class="color-indicator-blue"></div>
          <% else %>
            <div></div>
          <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="container-right">
  <!------------------ PENDING INVOICES ------------------>
  <h1> Pending Invoices </h1>
    <hr/>
    <div class="pending-invoices">
      <% @pending_invoices.each do |invoice| %>
        <div class="card-invoice">
          <p class="client-name"><%= invoice.client.first_name %> <%= invoice.client.last_name %></p>
          <div id="invoice-info">
            <p>#Invoice #5555</p>
            <p><%= invoice.price %>$</p>
            <p><%= invoice.start_time.strftime("%A, %b %d") %></p>
          </div>
            <% if invoice.client.color == "Red" %>
              <div class="color-indicator-red"></div>
            <% elsif invoice.client.color == "Yellow" %>
              <div class="color-indicator-yellow"></div>
            <% elsif invoice.client.color == "Blue" %>
              <div class="color-indicator-blue"></div>
            <% else %>
              <div></div>
            <% end %>
        </div>
      <% end %>
    </div>
  <!------------------ WEEKLY REPORT ------------------>
  <div class="weekly-report">
    <h1> Weekly Report </h1>
    <hr/>
    <div class="card-weekly-report">
      <div id="card-content-weekly">

        <div class="flex-center contain">
          <div>
            <h3 class="bold">Appointments:</h3>
          </div>
          <div>
            <h3><%= @bookings_weekly_count %></h3>
          </div>
        </div>

      <div class="flex-center contain">
          <div>
            <h3 class="bold">Expenses:</h3>
          </div>
          <div>
            <h3>$<%= @total_expenses_weekly %></h3>
          </div>
        </div>

      <div class="flex-center contain">
        <div>
          <h3 class="bold">Income:</h3>
        </div>
        <div>
          <h3>$<%= @income %></h3>
        </div>
      </div>

      <div class="flex-center contain highlight">
        <div>
          <h3 class="bold">Total Income:</h3>
        </div>
        <div>
          <h3 class="bold">$<%= @income %></h3>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>
