<% unless current_user %>
<h1 class="home-logo">STÜUD</h1>
<hr/>
<div class="home-btns">
  <p class="btn-orange"><%= link_to "Login", new_user_session_path  %></p>
  <p class="btn-orange"><%= link_to "Signup", user_session_path  %></p>
</div>
<% else %>

<!-- STUUD Dashboard -->
<div class="dashboard">
  <div class="container-left">
    <h1>Upcoming Appointments </h1>
    <hr/>
    <div class="divider">
      <h2 class="divider">Today</h2>
    </div>
    <div class="today">
      <% if @todays_events == [] %>
      <div class="card-dashboard">
        <p class="ml-3 mt-3 p-3 text-align-center no-appointments">No Appointments Today...</p>
      </div>
      <% end %>

      <% @todays_events.each do |event| %>
        <div class="card-dashboard">
          <%= link_to event.client.fullname, client_path(event.client), class: "client-name" %>
          <p class="event-date"><%= link_to event.start_time.localtime.strftime("%b %e, %l:%M %p"), event_path(event) %></p>
          <%= image_tag "noun_Vertical Dots_3560972 (1).svg", alt: "alttext" %>
            <% if event.client.color == "Red" %>
              <div class="color-indicator-red"></div>
            <% elsif event.client.color == "Yellow" %>
              <div class="color-indicator-yellow"></div>
            <% elsif event.client.color == "Blue" %>
              <div class="color-indicator-blue"></div>
            <% else %>
              <div></div>
            <% end %>
        </div>
      <% end %>
    </div>
<!------------------ UPCOMING APPOINTMENTS ------------------>
    <div class="future">

    <div class="divider">
      <h2 class="divider">This Week</h2>
    </div>

      <% if @future_events == [] %>
      <div class="card-dashboard">
       <div id="add-appointment" class=" no-appointments highlight">
        <div>
          <%= link_to "Schedule An Appointment", new_event_path, class: "ml-3 p-3 text-align-center link"  %>
        </div>
          <%= link_to new_event_path do %>
        <div>
          <%= image_tag 'noun_add_8394.png', width: 60, height: 60, alt: 'add an appointment'%>
        </div>
          <% end %>
      </div>

      </div>
      <% end %>
      <% @future_events_limit_week.each do |event| %>
      <div class="card-dashboard">
        <%= link_to event.client.first_name + " " + event.client.last_name, client_path(event.client), class: "client-name" %>
        <p class="event-date"><%= link_to event.start_time.localtime.strftime("%b %e, %l:%M %p"), event_path(event) %></p>
        <%= image_tag "noun_Vertical Dots_3560972 (1).svg", alt: "alttext" %>
          <% if event.client.color == "Red" %>
            <div class="color-indicator-red"></div>
          <% elsif event.client.color == "Yellow" %>
            <div class="color-indicator-yellow"></div>
          <% elsif event.client.color == "Blue" %>
            <div class="color-indicator-blue"></div>
          <% else %>
            <div></div>
          <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="container-right">
  <!------------------ PENDING INVOICES ------------------>
  <h1> Pending Invoices </h1>
    <hr/>
    <div class="pending-invoices">
      <% @pending.each do |invoice| %>
        <div class="card-invoice">
          <%= link_to invoice.client.fullname, client_path(invoice.client), class: "client-name" %>
          <div id="invoice-info">
            <p><%= link_to "#10148#{invoice.id}", invoice_path(invoice), target: "_blank" %></p>
            <p>$<%= invoice.event.price %></p>
            <p class="bold"><%= invoice.event.start_time.localtime.strftime("%b %d") %></p>
          </div>
            <% if invoice.client.color == "Red" %>
              <div class="color-indicator-red"></div>
            <% elsif invoice.client.color == "Yellow" %>
              <div class="color-indicator-yellow"></div>
            <% elsif invoice.client.color == "Blue" %>
              <div class="color-indicator-blue"></div>
            <% else %>
              <div></div>
            <% end %>
        </div>
      <% end %>
    </div>
  <!------------------ WEEKLY REPORT ------------------>
  <div class="weekly-report">
    <h1> Weekly Report </h1>
    <hr/>
    <div class="card-weekly-report">
      <div id="card-content-weekly">

        <div class="flex-center contain">
          <div>
            <h3 class="bold">Appointments:</h3>
          </div>
          <div>
            <h3><%= @events_weekly_count %></h3>
          </div>
        </div>

      <div class="flex-center contain">
          <div>
            <h3 class="bold">Expenses:</h3>
          </div>
          <div>
            <h3>$<%= @total_expenses_weekly %></h3>
          </div>
        </div>

      <div class="flex-center contain">
        <div>
          <h3 class="bold">Income:</h3>
        </div>
        <div>
          <h3>$<%= @income %></h3>
        </div>
      </div>

      <div class="flex-center contain highlight">
        <div>
          <h3 class="bold">Total Income:</h3>
        </div>
        <div>
          <h3 class="bold">$<%= @profit %></h3>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
<% end %>
