<!-- STUUD Dashboard -->
<div class="dashboard">


  <div class="container-left">
    <h2>Upcoming Appointments </h2>
    <div class="today">
      <% @todays_bookings.each do |booking| %>
        <h4>Full name: <%= booking.client.first_name %> <%= booking.client.last_name %></h4>
        <p>Date: <%= booking.date.strftime("%b %e, %l:%M %p") %></p>
      <% end %>
    </div>

<!------------------ UPCOMING APPOINTMENTS ------------------>
    <div class="future">
      <h2>Future Appointments: </h2>

    </div>

  </div>

  <div class="container-right">
  <!------------------ PENDING INVOICES ------------------>

    <h2>Pending Invoices </h2>

    <% @pending_invoices.each do |invoice| %>
      <h4>Full name: <%= invoice.client.first_name %> <%= invoice.client.last_name %></h4>
      <p>Amount: <%= invoice.price %>$</p>
      <p>Date: <%= invoice.date.strftime("%A, %b %d") %></p>
    <% end %>

    <!------------------ WEEKLY REPORT ------------------>

    <h2>Weekly Report</h2>

    <h3>Appointments: <%= @bookings_weekly_count %></h3>
    <h3>Expenses: <%= @total_expenses_weekly %>$</h3>
    <h3>Income: <%= @income %>$</h3>

  </div>


</div>
