<!-- INVOICE INDEX -->
<div class="invoice-index">
  <div class="header">
    <h1>My Invoices</h1>
    <div class="btn-container">
      <button class="btn-download"><%= link_to "Download Reports", finance_summary_path(format: :pdf), target: :_blank %></button>
    <p class="btn-orange"><%= link_to "New Invoice", new_invoice_path %></p>
    </div>
  </div>
    <hr/>
  <div class="top-bar">
    <div class="search-bar">
      <%= simple_form_for :search, url: invoices_path, method: :get do |f| %>
      <div class="search-form-control form-group no-bmargin">
        <div>
          <input class="form-control string required" type="text" name="query" id="search_query" placeholder="search"/>
        </div>
      </div>
      <% end %>
    </div>
    <div class="tags">
      <div>
        <h3>Tags:</h3>
      </div>
      <div class="tag-icons">
        <div class="tag-icon">
          <%= link_to invoices_path + "?query=red" do %>
            <%= image_tag "red-tag.svg", height: 24, width: 24 %>
          <% end %>
        </div>
        <div class="tag-icon">
          <%= link_to invoices_path + "?query=yellow" do %>
            <%= image_tag "yellow-tag.svg", height: 24, width: 24 %>
          <% end %>
        </div>
        <div class="tag-icon">
          <%= link_to invoices_path + "?query=blue" do %>
            <%= image_tag "blue-tag.svg", height: 24, width: 24 %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="invoices">

      <% if @overdue == [] %>
      <div></div>
      <% else %>
      <div class="divider">
        <h2 class="divider">Overdue</h2>
      </div>

      <% @overdue.each do |invoice| %>
      <!------------------ OVERDUE INVOICES ------------------>
        <div class="card-invoice">
          <div class="client-name">
            <% if invoice.client.last_name.length > 10 %>
              <%= content_tag :p, invoice.client.first_name + " " + invoice.client.last_name[0] + ".", class: "client-name" %>
            <% else %>
              <%= content_tag :p, invoice.client.first_name + " " + invoice.client.last_name, class: "client-name" %>
            <% end %>
          </div>
          <div id="invoice-info">
            <p>Invoice #<%= invoice.id %></p>
            <p>$<%= invoice.event.price %></p>
            <p class="bold">OVERDUE </p>
          </div>
          <div class="invoice-status-indicator" data-toggle="modal" data-target="#invoice-id-<%=invoice.id%>">
            <%= image_tag "noun_Close_23269(1).png", alt: "overdue icon"%>
          </div>
            <!-- Invoice Status Modal -->
            <div class="modal fade" id="invoice-id-<%=invoice.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Invoice Status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="update-status">
                      <%=simple_form_for(invoice, method: :patch, url: paid_path(invoice.event)) do |f|%>
                        <%= f.input :payment_status, as: :hidden, input_html: {value: true} %>
                        <%= f.submit "Mark as Paid" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

  <!------------------ PENDING INVOICES ------------------>
        <% if @pending == [] && @overdue != [] %>
          <div></div>
        <% else %>
          <div class="divider">
            <h2 class="divider">Pending</h2>
          </div>
        <% end %>
        <% if @pending == [] && @overdue == [] && @invoices != [] %>
          <div class="highlight">
             <p class="">All invoices have been paid 🎉</p>
          </div>
        <% elsif @pending == []  %>
          <div class="highlight">
            <p class="">No pending invoices</p>
          </div>
        <% else %>
          <% @pending.each do |invoice| %>
              <div class="card-invoice">
                <div class="client-name">
                  <% if invoice.client.last_name.length > 10 %>
                    <%= link_to invoice.client.first_name + " " + invoice.client.last_name[0] + ".", client_path(invoice.client), class: "client-name" %>
                  <% else %>
                    <%= link_to invoice.client.first_name + " " + invoice.client.last_name, client_path(invoice.client), class: "client-name" %>
                  <% end %>
                </div>
                <div id="invoice-info">
                  <p>Invoice #<%= invoice.id %></p>
                  <p>$<%= invoice.event.price %></p>
                  <p class="bold"><%= invoice.created_at.localtime.strftime("%b %d") %></p>
                </div>
                <div class="invoice-status-indicator" data-toggle="modal" data-target="#invoice-id-<%=invoice.id%>">
                  <%= image_tag "noun_clock_23236.png", alt: "pending icon"%>
                </div>
              <!-- Invoice Status Modal -->
              <div class="modal fade" id="invoice-id-<%=invoice.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Update Invoice Status</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="update-status">
                        <%=simple_form_for(invoice, method: :patch, url: paid_path(invoice.event)) do |f|%>
                          <%= f.input :payment_status, as: :hidden, input_html: {value: true} %>
                          <%= f.submit "Mark as Paid" %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            <% end %>
          <% end %>

<!------------------ PAID INVOICES ------------------>

        <div class="divider">
          <h2 class="divider">Paid</h2>
        </div>

        <% if @paid == [] %>
        <div class="highlight">
          <p class="">Paid invoices will appear here</p>
        </div>
        <% end %>

          <% @paid.each do |invoice| %>

            <div class="card-invoice">
              <div class="client-name">
                <% if invoice.client.last_name.length > 10 %>
                  <%= link_to invoice.client.first_name + " " + invoice.client.last_name[0] + ".", client_path(invoice.client), class: "client-name" %>
                <% else %>
                  <%= link_to invoice.client.first_name + " " + invoice.client.last_name, client_path(invoice.client), class: "client-name" %>
                <% end %>
              </div>
              <div id="invoice-info">
                <p>Invoice #<%= invoice.id %></p>
                <p>$<%= invoice.event.price %></p>
                <p class="bold">PAID </p>
              </div>
              <div class="invoice-status-indicator">
                <%= image_tag "noun_Check Mark_23235.png", alt: "paid icon"%>
              </div>
            </div>
          <% end %>
  </div>

  </div>
</div>

