<div class="new-booking">
  <%= simple_form_for(@invoice) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.association :client,
                        :label_method => :fullname,
                        required: true,
                        # label: false,
                        placeholder: "client"  %>
  <%= f.association :event,
                        :label_method => :event_time,
                        required: true,
                        # label: false,
                        placeholder: "lesson"  %>

     <div class="form-actions">
      <%= f.submit %>
    <% end %>
  </div>
</div>
