<style>

  h1 {
  font-family: 'Playfair Display', serif!important;
  font-size: 26px!important;
  font-weight: bold!important;
  color: #2a3266!important;
  }

  h2 {
  font-family: 'Montserrat', sans-serif!important;
  font-size: 16px!important;
  font-weight: bold!important;
  color: #2a3266!important;
  }

  h3 {
  font-family: 'Montserrat', sans-serif!important;
  font-size: 16px!important;
  font-weight: 500!important;
  color: #2a3266!important;
  }

  p {
  font-family: 'Montserrat', sans-serif!important;
  font-size: 16px!important;
  color: #2a3266!important;
  }

  hr {
      border-top: 1px solid $sblue;
    }
    .container {
      margin-top: 48px;
    }

    .header {
      display: flex;
      justify-content: space-between;
    }

    .user-info {
      text-align: right;
    }

    .invoice-section {
      margin-top: 16px;
    }

    .total {
      text-align: right;
    }

    .footer {
      text-align: right;
    }

    .symbol {
      width: 16px;
      height: 16px;
     }
</style>

<div class="invoice-show">
  <div class="container">
    <div class="header">
      <h1>Invoice # 10148<%= @invoice.id %></h1>
      <div class= "user-info">
        <h2><%= @invoice.user.first_name %> <%= @invoice.user.last_name %></h2>
        <h3><%= @invoice.user.email %></h3>
      </div>
    </div>
    <hr/>
  <div class="invoice-section">
    <h2>Client information:</h2>
    <p><%= @invoice.client.first_name.capitalize %> <%= @invoice.client.last_name.capitalize %></p>
    <p>Email: <%= @invoice.client.email %></p>
    <p>Address: <%= @invoice.client.address %></p>
    <p>Phone: <%= @invoice.client.phone %></p>
  </div>

  <div class="invoice-section">
    <h2>Lesson:</h2>
    <p>Date: <%= @invoice.event.event_time %></p>
    <p>Payment Status: <%= @invoice.event.payment_status ? "Paid" : "Due" %></p>
    <hr/>
  </div>

  <div class="total">
    <h1>Amount due:</h1>
    <h1> $<%= @invoice.event.price %></h1>

  </div>
  <br>
  <br>
  <br>
  <div class="footer">
    <div><%= image_tag "copyright.svg", alt: "", class: "symbol" %> Stuud 2020</div>
    <h3> www.stuud.app</h3>
  </div>
  </div>

</div>
