<div class="calendar">
<div class="header">
  <h1> MyCalendar </h1>
   <p class="btn-orange new-appt"><%= link_to 'New Appointment', new_event_path %></p>
</div>
  <hr/>


  <%= content_tag :div, data: { controller: 'calendar' } do %>
    <%= content_tag :div, class: 'modal', data: { target: 'calendar.modal' } do %>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div id="closeModal" data-action="click->calendar#closeModal" style="margin-left: 465px;font-size: 30px" >&#x2BBE</div>
          <%= form_with model: Event.new, local: true do |form| %>
          <%#= simple_form_for(Event.new) do |f| %>
            <div class="modal-body">
              <%# <div class="field">
                <%#= f.input :all_day %>
                <%# <%= form.label :all_day %>
                <%# <%= form.check_box :all_day %>
              <%# </div> %>

              <div class="field">
                <%#= f.association :client, :label_method => :fullname %>
                <%# @clientlist = Client.where(user_id:@user) %>
                <%= form.label :client %>
                <%= select(:event, :client_id, Client.where(user_id:current_user).collect {|c| [ c.first_name.capitalize + " " + c.last_name.capitalize, c.id ] }, {include_blank: 'None'}) %>
              </div>

              <div class="field">
                <%= form.label :start_time %>
                <%= form.text_field :start_time, class: "datepicker", data: { target: 'calendar.start_time' }, required: true %>
                <%# <%= form.datetime_select :start_time, data: { target: 'calendar.start_time' } %>
              </div>

              <div class="field">
                <%= form.label :end_time %>
                <%= form.text_field :end_time, class: "datepicker", data: { target: 'calendar.end_time' }, required: true %>
                <%#= form.datetime_select :end_time, data: { target: 'calendar.end_time' } %>
              </div>
              <br>
              <div class="field">
                <%#= f.input :title %>
                <%= form.label :title %>
                <%= form.text_field :title, required: true %>
              </div>


              <div class="field">
                <%#= f.input :price %>
                <%= form.label :price %>
                <%= form.text_field :price %>
              </div>

              <div class="field">
                <%#= f.input :color, collection: %w[Blue Yellow Red Orange] %>
                <%= form.label :color %>
                <%= form.select :color, collection: [['Yellow','rgb(255, 230, 110)'], ['Blue','rgb(38, 149, 223)'], ['Red','rgb(223, 42, 100)']] %>
              </div>

              <div class="field">
                <%#= f.input :payment_status %>
                <%= form.label :paid? %>
                <%= form.check_box :payment_status %>
               </div>
               <%# <div class="field">
               <%= form.submit class: 'btn-orange' %>
               <%# </div> %>
              <div class="modal-footer">
                <%#= f.submit %>
                <%= form.submit class: 'btn-orange' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= tag :div, data: { target: 'calendar.calendar' } %>
  <% end %>

  </div>
</div>
