<h1> Stüud Calendar </h1>


<%= content_tag :div, data: { controller: 'calendar' } do %>
  <%= content_tag :div, class: 'modal', data: { target: 'calendar.modal' } do %>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <%= form_with model: Event.new, local: true do |form| %>
          <div class="modal-body">
            <div class="field">
              <%= form.label :all_day %>
              <%= form.check_box :all_day %>
            </div>

            <div class="field">
              <%= form.label :start_time %>
              <%= form.text_field :start_time, data: { target: 'calendar.start_time' } %>
            </div>

            <div class="field">
              <%= form.label :end_time %>
              <%= form.text_field :end_time, data: { target: 'calendar.end_time' } %>
            </div>

            <div class="field">
              <%= form.label :title %>
              <%= form.text_field :title %>
            </div>

            <div class="field">
              <%= form.label :client %>
              <%= select(:event, :client_id, Client.all.collect {|c| [ c.first_name.capitalize + " " + c.last_name.capitalize, c.id ] }, {include_blank: 'None'}) %>
            </div>

            <div class="field">
              <%= form.label :color %>
              <%= form.select :color, collection: [['Yellow','yellow'], ['Blue','blue'], ['Red','red'], ['Orange','orange']] %>
            </div>
          </div>
          <div class="modal-footer">
            <%= form.submit class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= tag :div, data: { target: 'calendar.calendar' } %>
<% end %>

</div>