<div class="new-booking">
  <h1>New Booking</h1>
  <hr/>
  <%= simple_form_for(@booking) do |f| %>
    <%= f.association :client,
                      :label_method => :fullname,
                      required: true,
                      label: false,
                      placeholder: "client"  %>
   <%= f.input :date,
                as: :string,
                required: true,
                label: false,
                placeholder: "date" %>
    <%= f.input :length,
                collection: @lengths,
                label: false,
                placeholder: "length" %>
    <%= f.input :price,
                label: false,
                placeholder: "price" %>
    <%= f.input :payment_status,
                as: :radio_buttons %>
    <%= f.input :description,
                label: false,
                placeholder: "description" %>
   <div class="form-actions">
    <%= f.submit %>
  <% end %>


</div>
