<div class="stuud-navbar">
  <h1 id="stuud-logo"><%= link_to "STUÜD", dashboard_path %></h1>
  <ul class="nav-links">
    <li class="nav-item"><%= link_to "Dashboard", dashboard_path %></li>


    <li class="nav-item"><%= link_to "Calendar", calendar_path %></li>

    <li class="nav-item"><%= link_to "Clients", clients_path %></li>

    <li class="nav-item"><%= link_to "Finances", expenses_path %></li>

    <li class="nav-item"><%= link_to "Expenses", expenses_path %></li>

  </ul>

  <ul id="nav-footer">
    <li>Account</li>
    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
      <% end %>
  </ul>
</div>
