<div class="new-client">
  <h1>Edit Client</h1>
  <hr/>
  <%= simple_form_for(@client) do |f| %>
    <%= f.input :first_name,
                required: true,
                autofocus: true,
                label: false,
                placeholder: "first name"%>
    <%= f.input :last_name,
                required: true,
                label: false,
                placeholder: "last name" %>
    <%= f.input :email,
                required: true,
                label: false,
                placeholder: "email"  %>
    <%= f.input :phone,
                required: false,
                label: false,
                placeholder: "phone number"  %>
    <%= f.input :address,
                required: false,
                label: false,
                placeholder: "address"  %>
    <div class="form-actions">
      <div><%= f.input :color, as: :radio_buttons, collection: %w[Yellow Blue Red] %></div>
      <div><%= f.submit %></div>
    <% end %>

    </div>
</div>
