<div class="client-show">
  <div class="header">
    <h1><%= @client.fullname %></h1>
    <div class="header-btns">
      <p class="btn-orange"><%= link_to 'Edit', edit_client_path %></p>
    </div>
  </div>
  <% if @client.color == "Red" %>
      <hr style="height:2px; border-width:0; color:rgb(222, 42, 99); background-color:rgb(222, 42, 99)">
  <% elsif @client.color == "Yellow" %>
      <hr style="height:2px; border-width:0; rgb(254, 230, 108); background-color:rgb(254, 230, 108)">
  <% elsif @client.color == "Blue" %>
      <hr style="height:2px; border-width:0; color:rgb(38, 149, 223); background-color:rgb(38, 149, 223)">
  <% else %>
    <div>
       <hr style="height:2px; border-width:0; color:rgb(42, 50, 102); background-color:rgb(42, 50, 102)">
    </div>
  <% end %>
  <div class="client-container">
    <div class="client-left">
      <div class="client-info">
        <div class="info-section">
          <div class="icon">
            <%= image_tag "email.svg", height: 40, width: 40 %>
          </div>
          <h2><%= @client.email %></h2>
        </div>
        <div class="info-section">
          <div class="icon">
            <%= image_tag "phone.svg", height: 40, width: 40 %>
          </div>
          <h2><%= @client.phone %></h2>
        </div>
        <div class="info-section">
          <div class="icon">
            <%= image_tag "address.svg", height: 40, width: 40 %>
          </div>
          <h2><%= @client.address %></h2>
         </div>
        <div class="notes">
          <h2> Notes: </h2>
          <p> <%= @client.notes %> </p>
        </div>
      </div>
      <div class="btns">

      </div>
    </div>

  <div class="client-right">
    <div class="header">
      <h2>Upcoming Appointments:</h2>
      <!-- <p><%= link_to 'New Appt', new_event_path %></p> -->
      <%= link_to new_event_path do %>
      <div id="add">
        <%= image_tag 'noun_add_8394.png', width: 40, height: 40, alt: 'add an appointment' %>
      </div>
        <% end %>

    </div>
      <% @client.events.each do |event|%>

    <div class="appt-card">

      <div><h2><%= link_to event.start_time.strftime("%b %e"), event_path(event)%></h2></div>
      <div><p><%= link_to event.start_time.strftime("%l:%M %p"), event_path(event)%></p></div>
      <!-- <p>Payment status: <%= event.payment_status %></p> -->
      <div><h2><%= event.status %>Confirmed</h2></div>
      <div class="card-end">
          <% if event.client.color == "Red" %>
                <div class="color-indicator-red"></div>
              <% elsif event.client.color == "Yellow" %>
                <div class="color-indicator-yellow"></div>
              <% elsif event.client.color == "Blue" %>
                <div class="color-indicator-blue"></div>
              <% else %>
                <div></div>
              <% end %>
        </div>
    </div>
    <% end %>

  </div>
</div>


  <%#= link_to 'Go back', clients_path %>
</div>
