<div class="client-show">
  <h1><%= @client.fullname %></h1>
  <% if @client.color == "Red" %>
      <hr style="height:2px; border-width:0; color:rgb(222, 42, 99); background-color:rgb(222, 42, 99)">
  <% elsif @client.color == "Yellow" %>
      <hr style="height:2px; border-width:0; rgb(254, 230, 108); background-color:rgb(254, 230, 108)">
  <% elsif @client.color == "Blue" %>
      <hr style="height:2px; border-width:0; color:rgb(38, 149, 223); background-color:rgb(38, 149, 223)">
  <% else %>
    <div>
       <hr style="height:2px; border-width:0; color:rgb(42, 50, 102); background-color:rgb(42, 50, 102)">
    </div>
  <% end %>
  <div class="client-container">
    <div class="client-left">
      <div class="client-info">
        <div class="info-section">
          <%= image_tag "email.svg", height: 40, width: 40 %>
          <h2><%= @client.email %></h2>
        </div>
        <div class="info-section">
          <%= image_tag "phone.svg", height: 40, width: 40 %>
          <h2><%= @client.phone %></h2>
        </div>
        <div class="info-section">
          <%= image_tag "address.svg", height: 40, width: 40 %>
          <h2><%= @client.address %></h2>
         </div>
        <div class="notes">
          <h2> Notes: </h2>
          <p> <%= @client.notes %> </p>
        </div>
      </div>
      <div class="btns">
        <p class="btn-orange"><%= link_to 'Edit', edit_client_path %></p>
        <p class="btn-orange"><%= link_to 'Make an Appt.', new_event_path %></p>
      </div>
    </div>

  <div class="client-right">
    <h2>Upcoming Appointments:</h2>

    <% @client.events.each do |event|%>
    <div class="appt-card">
      <div><h2><%= event.start_time.localtime.strftime("%b %e")%></h2></div>
      <div><p><%= event.start_time.localtime.strftime("%l:%M %p")%></p></div>
      <div><h2><%= event.status %>Confirmed</h2></div>
      <div class="card-end">
          <% if event.client.color == "Red" %>
                <div class="color-indicator-red"></div>
              <% elsif event.client.color == "Yellow" %>
                <div class="color-indicator-yellow"></div>
              <% elsif event.client.color == "Blue" %>
                <div class="color-indicator-blue"></div>
              <% else %>
                <div></div>
              <% end %>
        </div>
    </div>
    <% end %>

  </div>
</div>


  <%#= link_to 'Go back', clients_path %>
</div>
