<p id="notice"><%= notice %></p>

<p>
  <strong>All day:</strong>
  <%= @event.all_day %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Client:</strong>
  <%= @event.client %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', calendar_path %>
