<div class="event-show">
  <!-- <p id="notice"><%= notice %></p> -->
  <h1>Appointment Created</h1>
  <hr/>
  <p>
    <strong>Student:</strong>
    <%= @event.client.first_name.capitalize %> <%= @event.client.last_name.capitalize %>
  </p>
  <p>
    <strong>Title:</strong>
    <%= @event.title %>
  </p>
  <p>
    <strong>Start time:</strong>
    <%= @event.start_time.localtime.strftime("%b %e, %l:%M %p") %>
  </p>
  <p>
    <strong>End time:</strong>
    <%= @event.end_time.localtime.strftime("%b %e, %l:%M %p") %>
  </p>
  <p>
    <strong>Price:</strong>
    $<%= @event.price %>
  </p>


  <div class="btns">
    <p class="btn-orange">  <%= link_to 'Edit', edit_event_path(@event) %></p>
    <p class="btn-orange">  <%= link_to 'Confirmation', events_confirmation_email_path(@event), method: :post %></p>
    <!-- <p class="btn-orange">  <%= link_to 'View Calendar', calendar_path %></p> -->
<!--     <p class="btn-orange">  <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %></p> -->
  </div>

</div>
