<!-- <p id="notice"><%= notice %></p> -->
  <div class="event-show">
    <div class="header">
      <h1>Appointment with <%= @event.client.fullname %></h1>
      <div class="header-btns">

        <p class="btn-orange">  <%= link_to 'Create Invoice', new_invoice_path %></p>
        <p class="btn-orange">  <%= link_to 'Email Confirm', events_confirmation_email_path(@event), method: :post %></p>

      </div>
    </div>
    <hr/>
    <p>
      <strong>Event Title:</strong>
      <%= @event.title %>
    </p>
    <br>
    <p>
      <strong>Start time:</strong>
      <%= @event.start_time.localtime.strftime("%b %e, %l:%M %p") %>
    </p>
    <br>
    <p>
      <strong>End time:</strong>
      <%= @event.end_time.localtime.strftime("%b %e, %l:%M %p") %>
    </p>
    <br>
    <p>
      <strong>Price:</strong>
      $<%= @event.price %>
    </p>
    <br>
     <p>
      <strong>Payment Status:</strong>
        <%= @event.payment_status ? "Paid": "Due" %>
    </p>
    <div>
      <p class="btn-orange">  <%= link_to 'Edit', edit_event_path(@event) %></p>
    </div>

    <!-- <div class="btns"> -->
      <!-- <p class="btn-orange">  <%= link_to 'Edit', edit_event_path(@event) %></p> -->
      <!-- <p class="btn-orange">  <%= link_to 'Confirmation', events_confirmation_email_path(@event), method: :post %></p> -->
      <!-- <p class="btn-orange">  <%= link_to 'View Calendar', calendar_path %></p> -->
  <!--     <p class="btn-orange">  <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %></p> -->
   <!--  </div> -->

  </div>

   <!--  <div class="btns">
    <div class= "btn-orange"><%= link_to 'Edit', edit_event_path(@event) %></div>
    <div class= "btn-orange"><%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <div class= "btn-orange"><%= link_to 'Back', calendar_path %></div>
  </div> -->
<!-- </div> -->
