<!-- <p id="notice"><%= notice %></p> -->
  <div class="event-show">
    <h1>Appointment with <%= @event.client.fullname %></h1>
    <hr/>
    <p>
      <strong>Title:</strong>
      <%= @event.title %>
    </p>
    <p>
      <strong>Start time:</strong>
      <%= @event.start_time.localtime.strftime("%b %e, %l:%M %p") %>
    </p>
    <p>
      <strong>End time:</strong>
      <%= @event.end_time.localtime.strftime("%b %e, %l:%M %p") %>
    </p>
    <p>
      <strong>Price:</strong>
      $<%= @event.price %>
    </p>
     <p>
      <strong>Payment Status:</strong>
        <%= @event.payment_status ? "Paid": "Due" %>
    </p>


    <div class="btns">
      <p class="btn-orange">  <%= link_to 'Edit', edit_event_path(@event) %></p>
      <p class="btn-orange">  <%= link_to 'Confirmation', events_confirmation_email_path(@event), method: :post %></p>
      <!-- <p class="btn-orange">  <%= link_to 'View Calendar', calendar_path %></p> -->
  <!--     <p class="btn-orange">  <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %></p> -->
    </div>

  </div>

   <!--  <div class="btns">
    <div class= "btn-orange"><%= link_to 'Edit', edit_event_path(@event) %></div>
    <div class= "btn-orange"><%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <div class= "btn-orange"><%= link_to 'Back', calendar_path %></div>
  </div> -->
<!-- </div> -->
