<div class="expenses-index">
  <h1> Expenses </h1>
  <hr/>

  <div class="expense-cards">
    <% @expenses.each do |expense| %>
   <div class="expense-card">
    <div class="card-left">
     <div class="card-section"><h2><%= expense.name %></h2></div>
     <div class="card-section"><p><%= expense.date.strftime("%b %e")%></p></div>
    </div>
     <div class="card-section"><h2>$<%= expense.amount %></h2></div>
   </div>
      <% end %>
</div>
   <div class="total-container">
    <div class="new-client-btn">
    <p class="btn-orange"><%= link_to 'Add Expense', new_expense_path %></p>
  </div>
    <div class="total">
      <p>Total:</p>
      <h2>$<%= @total_expenses %></h2>
   </div>
  </div>



