<div class="expenses-index">
  <h1> Expenses </h1>
  <hr/>

  <div class="expense-cards">
    <% @expenses.each do |expense| %>
   <div class="expense-card">
    <div class="card-left">
     <div class="card-section"><h2><%= expense.name %></h2></div>
     <div class="card-section"><p><%= expense.date.strftime("%b %e")%></p></div>
    </div>
     <div class="card-section"><h2>$<%= expense.amount %></h2></div>
   </div>
      <% end %>
</div>
   <div class="total-container">
    <div class="new-client-btn">
    <p class="btn-orange"><%= link_to 'Add Expense', new_expense_path %></p>
  </div>
    <div class="total">
      <p>Total:</p>
      <h2>$<%= @total_expenses %></h2>
   </div>
  </div>

<!-- this chart stuff should go in the finances main page -->
<!--   <div class="container-right">
    <%= pie_chart Booking.group(:description).sum(:price),
    donut: true,
    label: "Income",
    suffix: "$",
    title: "Total Income #{@income} $",
    width: "400px",
    height: "300px",
    colors: ["#424D58", "#FB6C00", "#ffe954"],
    library: {backgroundColor: "#F6F5F6"} %>
    <br>
    <%= column_chart Expense.group(:name).sum(:amount),
    # donut: true,
    label: "Expense",
    suffix: "$",
    title: "Total Expenses #{@total_expenses} $",
    width: "400px",
    height: "300px",
    colors: ["#D42803", "#FB6C00", "#424D58"],
    library: {backgroundColor: "#F6F5F6"} %>

  </div> -->

