<div class="add-expense">
  <h1>Add a Expense</h1>
  <hr/>

  <%= simple_form_for(@expense) do |f| %>
    <%= f.input :name,
                required: true,
                autofocus: true,
                label: false,
                placeholder: "name" %>
    <%= f.input :amount,
                required: true,
                label: false,
                placeholder: "amount" %>
    <%= f.input :date,
                as: :date,
                required: true,
                label: false,
                placeholder: "date" %>
    <div class="form-actions">
    <%= f.submit %>
  <% end %>
  </div>
</div>
