 <!DOCTYPE html>
<html>
  <head>
    <title>Stuud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>
  <body>

      <% if current_user %>

    <div class="stuud-navbar">
      <%= render 'shared/navbar' %>
    </div>


    <div class="page-body">
      <%= yield %>
    </div>

    <%= render 'shared/flashes' %>

      <% else %>
        <div class="home-page">
          <div class="home-container">
            <%= yield %>
          </div>
        </div>
      <% end %>
    <%= render 'shared/flashes' %>
  </body>
</html>
